@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');

body {
	margin:0;
	padding:0;
	width:100%;
	color:#929292;
	font-family: 'Noto Serif KR', serif;
}

html, .main {
	padding:0;
	margin:0;
}

.main {
	background:#f8f8f8;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}

h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:25px;
	font-weight:bold;
	color:#353c3e;
}

p {
	margin:8px 0;
	padding:0 0 8px 0;
}

a {
	color:#0087c7;
	text-decoration:none;
}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}

.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}

.logo {
	font-weight: bold;
	padding:0;
	float:left;
	width:auto;
	height:120px;
}

h1 {
	margin:0;
	padding:50px 0 0;
	font-size:48px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:none;
}

h1 a, h1 a:hover {
	color:#000;
	text-decoration:none;
}

h1 small {
	display:block;
	margin:-4px 0;
	padding-left:160px;
	font-size:20px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#fff;
}
.slider {
	padding:0;
	background:no-repeat left bottom;
}

.menu_nav {
	margin:0 auto;
	padding:70px 0 0;
	height:15px;
	float:right;
}

.menu_nav ul {
	list-style:none;
	padding:0 0 0 1px;
	height:15px;
	float:left;
	background:url(../IMG/menu_split.gif) no-repeat left center;
}

.menu_nav ul li {
	margin:0;
	padding:0 20px;
	float:left;
	background:url(../IMG/menu_split.gif) no-repeat right center;
}

.menu_nav ul li a {
	display:block;
	margin:0;
	padding:0;
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	color:#c4c4c4;
	text-decoration:none;
	text-transform:uppercase;
}

.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#000;
}

.content {
	padding:0;
}

.content_resize {
	margin:0 auto;
	padding:18px 0;
	width:960px;
}

.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:660px;
}

.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:12px;
	font-size:30px;
	line-height:1.2em;
}

.content .mainbar div.img {
	padding:0 0 12px;
	float:left;
}

.content .mainbar img.fl {
	margin:0;
	padding:0;
	background:#fff;
	border:none;
}

.content .mainbar .article {
	margin:0 0 32px;
	padding:0 20px 16px;
	border:1px solid #ddd;
	background:#fff url(../IMG/article_bg.gif) repeat-x left top;
}

.content .sidebar {
	padding:0;
	float:right;
	width:260px;
}

.content .sidebar .gadget {
	margin:0 0 12px;
	padding:12px 20px 24px;
}

ul.sb_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}

ul.sb_menu li {
	margin:0;
}

ul.sb_menu li {
	padding:8px 0;
	width:220px;
}

ul.sb_menu li a {
	color:#9a9a9a;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}

ul.sb_menu li a:hover {
	color:#0087c7;
	font-weight:bold;
	text-decoration:none;
}

.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:#1c1c1c;

}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
}
.fbg h2 {
	color:#fff;
	padding-bottom:24px;
}

.fbg {
	margin:0;
	float:middle;
}

.fbg {
	margin:0;
	padding:0;
	list-style:none;
}

.fbg {
	margin:0;
	padding:0;
	list-style:none;
}

.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#aeaeae;
	text-decoration:none;
	background:url(../IMG/li.gif) no-repeat left center;
}

.fbg .fbg_ul li a:hover {
	color:#0087c7;
	text-decoration:none;
}

.searchform {
	padding:0 0 32px 20px;
	float:left;
}

#formsearch {
	margin:0;
	padding:10px 0 0;
	width:auto;
	height:30px;
}

#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../IMG/search_bg.gif) no-repeat left top;
}

#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:170px;
	font-size:12px;
	line-height:14px;
	color:#aeaeae;
	background:none;
	outline:none;
	border:none;
}

#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}

.footer {
	background:#1c1c1c;
}

.footer_resize {
	margin:0 auto;
	padding:0 10px;
	width:920px;
	line-height:1.5em;
	color:#6b6b6b;
	border-top:1px solid #434444;
}

.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}

.footer_resize a {
	color:#dbdbdb;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	background-color:transparent;
}

.footer_resize a:hover {
	color:#dbdbdb;
	background-color:transparent;
	text-decoration:none;
}

.footer_resize .copyright {

	float:left;
}

.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}

.logointroduce {
	text-align: center;
}